
.vscode/settings.json
advancements/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
advancements/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
advancements/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
advancements/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
data/chunks.dat
data/command_storage_ns.dat
data/raids.dat
data/scoreboard.dat
DIM-1/data/raids.dat
DIM1/data/raids_end.dat
entities/r.-1.-1.mca
entities/r.0.0.mca
entities/r.0.1.mca
entities/r.1.0.mca
entities/r.1.1.mca
level.dat
level.dat_old
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat_old
poi/r.0.0.mca
poi/r.0.1.mca
poi/r.1.0.mca
region/r.-1.-1.mca
region/r.-1.0.mca
region/r.0.-1.mca
region/r.0.0.mca
region/r.0.1.mca
region/r.1.0.mca
region/r.1.1.mca
stats/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
xaeromap.txt
advancements/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
data/chunks.dat
data/command_storage_ns.dat
data/raids.dat
data/scoreboard.dat
DIM-1/data/raids.dat
DIM1/data/raids_end.dat
entities/r.-1.-1.mca
entities/r.0.0.mca
entities/r.0.1.mca
entities/r.1.0.mca
entities/r.1.1.mca
level.dat
level.dat_old
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat_old
poi/r.0.0.mca
poi/r.0.1.mca
poi/r.1.0.mca
region/r.-1.-1.mca
region/r.-1.0.mca
region/r.0.-1.mca
region/r.0.0.mca
region/r.0.1.mca
region/r.1.0.mca
region/r.1.1.mca
stats/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
stats/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat_old
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat
level.dat_old
level.dat
DIM-1/data/raids.dat
data/scoreboard.dat
advancements/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
advancements/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
data/scoreboard.dat
DIM-1/data/raids.dat
level.dat
level.dat_old
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat
playerdata/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.dat_old
stats/aa1f5e68-35f0-4dd2-821b-b43c12856bc7.json
